.DS_Store
*.env
node_modules
playwright-report

# reporters
allure-results
allure-report
test-results
test-results.json
execution.json

# Playwright
/blob-report/
/playwright/.cache/
/playwright/.auth/

/tests/**/debug.spec.ts
