.DS_Store
*.env
node_modules

# reporters
allure-results
allure-report
test-results
test-results.json
execution.json
playwright-report

# Playwright
/blob-report/
/playwright/.cache/
/playwright/.auth/
